---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data='getItem()'>
    <button @click='newName'>Get Name!</button>
    <h1 x-text='name'></h1>
</div>

<script>
function getItem(){
    return {
        name: 'Click the button to get a name',
        newName: function(){
            this.name = GetName();
        }
    };
}
</script>
